div {
    font-family: Arial, Helvetica, sans-serif;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.header-name {
    color: rgb(125, 15, 243);
}

.task-lst-row-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
}

.row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.input-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-input {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    border-width: 1px;
    margin-right: 15px;
    border-style: solid;
    width: 480px;
    font-size: 1.2rem;
    color: black;
    border-color: rgb(125, 15, 243);
}


.task-add-btn {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2rem;
    font-weight: 2rem;
    color: white;
    background-color: rgb(125, 15, 243);
    border-radius: 5px;
    border-style: none;
}

.task-list-lbl {
    font-size: 1.7rem;
    font-weight: bold;
}

.filter-icon {
    display: flex;
}

.filter-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.done-task {
    text-decoration: line-through;
}

.pending-task {
    text-decoration: none;
}

.dropdown-menu {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
}

.dropdown-option {
    display: block;
    border-style: none;
    font-size: 1rem;
    background-color: transparent;
}

.filtered-category {
    background-color: transparent;
    border-style: none;
    font-size: 1.2rem;
}

.filter-option-div {
    display: flex;
    align-items: center;
    width: 69.5%;
    justify-content: end;
    padding-top: 0px;
    margin-top: 0;
}
